NODE_ENV=production
TZ=Asia/Jakarta
PORT=3000
AUTO_START=true

APP_SECRET=change-this-secret
BASE_URL=https://example.go.id

HEADLESS=true
BOT_DELAY=3000
NAVIGATION_TIMEOUT=30000
ELEMENT_TIMEOUT=30000
MAX_RETRY=3
RETRY_DELAY=3000
MAX_CONCURRENT=1
TASK_TIMEOUT=180000

COOKIE_DIR=cookies
LOG_LEVEL=info

DEFAULT_LAT=0
DEFAULT_LNG=0
